html{
    background: url('../img/image1.png') no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 100%;
    background-position: center;
    overflow: hidden;
}